@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background: hsl(0, 0%, 90%);
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: 'Open Sans';
}

h2 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.5em;
  color: #898989;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: 'Open Sans';
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font: 15px 'Open Sans';
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.card {
  background: white;
  height: 100%;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card-content {
  padding: 1em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.card-content p {
  font-size: 80%;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.card-link {
  margin-right: auto;
}

.text-link {
  justify-content: left;
}

.card-fa {
  text-align: right;
  padding: 0.5em;
}

.f-image {
  margin-right: 15px;
}

.title {
  margin-bottom: 0 !important;
}

.sub-title {
  margin: 0;
  padding: 0;
  color: #8989899c;
}

.description {
  margin-bottom: 0px;
}

.btn {
  border: none;
  color: rgb(103, 160, 212);
  background-color: transparent;
  padding: 0px 10px 0px 0px;
}

.btn-link {
  border: none;
  color: rgb(103, 160, 212) !important;
  background-color: transparent;
  padding: 0px 10px 0px 0px;
}

.btn-link:hover {
  border: none;
  color: rgb(0, 0, 0) !important;
  background-color: transparent;
  padding: 0px 10px 0px 0px;
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #585858;
  text-decoration: none;
}
